mindspore==2.8.0
numpy>=1.23.5,<2.0.0
scipy
requests
pyyaml
attrs
jinja2
ml-dtypes
packaging
importlib-metadata
decorator
cloudpickle
tornado
absl-py
accelerate

opencv-python
pillow>=10.0.0
tqdm
matplotlib>=3.3.0

transformers==4.44.2

#权重转化时需要
torch>=2.0.0
ultralytics>=8.3.0